@charset "utf-8";
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dd,
dl,
dt,
li,
ol,
ul,
input,
select,
button,
textarea,
img {
  padding: 0;
  margin: 0;
  border: none;
}
input,
button,
select,
textarea,
a,
img {
  outline: none;
  vertical-align: top;
}
/*去掉超链接或按钮点击时出现的虚线框黄色边框*/
::-moz-focus-inner {
  border: 0;
}
/*火狐的私有属性去掉点击时边框*/
body {
  font-size: 14px;
  width: 100%;
  background: #f3f3f3;
  overflow-x: hidden;
  font-family: "Microsoft YaHei", "SimSun", "Arial";
}
html {
  width: 100%;
}
a img {
  border: none;
}
a {
  text-decoration: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  cursor: hand;
}
ul,
ul li,
ol li,
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
i {
  font-style: normal;
}
input,
textarea {
  border: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.wrapper .home-header {
  background: #E5E9EB;
  margin-bottom: 20px;
}
.wrapper .home-header .header-title {
  display: inline-block;
  padding-right: 15px;
  border-right: 2px solid #408080;
}
.wrapper .home-header .header-title img {
  width: 40px;
  height: 40px;
}
.wrapper .home-header h3 {
  display: inline-block;
  line-height: 40px;
}
.wrapper .home-header .header-right {
  text-align: right;
}
.wrapper .home-header .header-right a,
.wrapper .home-header .header-right span {
  display: inline-block;
  vertical-align: middle;
}
.wrapper .home-header .header-right .user-photo img {
  width: 40px;
  height: 40px;
}
.wrapper .home-header .header-right .email-icon {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
.wrapper .home-header .header-right .email-icon i {
  color: #6F6F6F;
  font-size: 36px;
  line-height: 38px;
}
.wrapper .home-header .header-right .email-icon .email-total {
  display: inline-block;
  position: absolute;
  right: -8px;
  top: 0;
  padding: 0 5px;
  background: #CC0000;
  color: #fff;
  font-size: 12px;
  border-radius: 17px;
}
.wrapper .home-cont .show-logo {
  text-align: center;
}
.wrapper .home-cont .show-logo img {
  width: 200px;
  height: 200px;
  text-align: center;
}
.wrapper .home-list .list-classify {
  margin: 0 40px;
}
.wrapper .home-list .list-classify .list-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  border-bottom: 1px dotted #ccc;
}
.wrapper .home-list .list-classify .classify-li {
  line-height: 40px;
  font-size: 14px;
}
.wrapper .home-list .list-classify .classify-li .explain {
  padding: 5px 10px;
  background: #5BC0DE;
  color: #fff;
  margin-right: 15px;
}
.wrapper .home-list .list-classify .classify-li .date {
  float: right;
}
.button {
  padding: 5px 10px;
  background: #e4393c;
  color: #fff;
  text-align: center;
  border: 0;
  outline: 0;
  border-radius: 10px;
  cursor: pointer;
}
