@charset "utf-8";
/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, dd, dl, dt, li, ol, ul,input,select,button,textarea,img { padding:0; margin:0; border:none;}
input,button,select,textarea,a,img{outline:none; vertical-align:top;}/*去掉超链接或按钮点击时出现的虚线框黄色边框*/
::-moz-focus-inner{border:0;}/*火狐的私有属性去掉点击时边框*/
body {font-size:14px; width:100%; background:#f3f3f3; overflow-x:hidden;  font-family:"Microsoft YaHei","SimSun","Arial";}
html{ width:100%;}
a img {	border:none; }
a {	text-decoration:none; outline:none; padding:0; margin:0; cursor:pointer; cursor:hand;}
ul, ul li, ol li, li {	list-style:none;}
table {	border-collapse: collapse;border-spacing:0;}
i{ font-style: normal;}
input, textarea {border: 0;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: ".";clear: both;height: 0;}
.clearfix {zoom: 1;}
.fl {float:left;}
.fr {float:right;}

.wrapper {
  .home-header {
    background: #E5E9EB;
    margin-bottom: 20px;
    .header-title {
      display: inline-block;
      padding-right: 15px;
      border-right: 2px solid #408080;
      img {
        width: 40px;
        height: 40px;
      }
    }
    h3 {
      display: inline-block;
      line-height: 40px;
    }
    .header-right{
      text-align: right;
      a, span {
        display: inline-block;
        vertical-align: middle;
      }
      .user-photo {
        img {
          width: 40px;
          height: 40px;
        }
      }
      .email-icon {
        display: inline-block;
        position: relative;
        margin-right: 20px;
        i {
          color: #6F6F6F;
          font-size: 36px;
          line-height: 38px;
        }
        .email-total {
          display: inline-block;
          position: absolute;
          right: -8px;
          top: 0;
          padding: 0 5px;
          background: #CC0000;
          color: #fff;
          font-size: 12px;
          border-radius: 17px;
        }
      }
    }
  }
  .home-cont {
    .show-logo {
      text-align: center;
      img {
        width: 200px;
        height: 200px;
        text-align: center;
      }
    }
  }
  .home-list {
    .list-classify {
      margin: 0 40px;
      .list-title {
        font-size: 18px;
        font-weight: bold;
        line-height: 40px;
        border-bottom: 1px dotted #ccc;
      }
      .classify-li {
        line-height: 40px;
        font-size: 14px;
        .explain {
          padding: 5px 10px;
          background: #5BC0DE;
          color: #fff;
          margin-right: 15px;
        }
        .date {
          float: right;
        }
      }
    }
  }
}
.button {
  padding: 5px 10px;
  background: #e4393c;
  color: #fff;
  text-align: center;
  border: 0;
  outline: 0;
  border-radius: 10px;
  cursor: pointer;
}

