.container .examine {
  margin: 20px 0;
}
.container .examine .example-tab {
  height: 42px;
  margin-bottom: 20px;
}
.container .examine .example-tab span {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  padding: 0 20px;
  font-size: 18px;
  border: 1px solid #333;
  border-radius: 5px;
}
.container .examine .examine-tag {
  height: 24px;
  margin-bottom: 20px;
}
.container .examine .examine-tag ul {
  vertical-align: top;
  display: inline-block;
  font-size: 0;
}
.container .examine .examine-tag ul li {
  display: inline-block;
  margin-right: 20px;
}
.container .examine .examine-tag ul li a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  padding: 0 10px;
  background: #ccc;
}
.container .examine .examine-search input {
  width: 300px;
  height: 24px;
}
.container .examine .examine-search em {
  font-size: 30px;
  vertical-align: middle;
}
