.config-table .table {
  color: #000;
  border: 1px solid #666;
}
.config-table .table th {
  text-align: center;
  border: 1px solid #666;
}
.config-table .table th:first-child {
  width: 20%;
}
.config-table .table th:nth-child(2) {
  width: 60%;
}
.config-table .table th:nth-child(3) {
  width: 20%;
}
.config-table .table td {
  text-align: center;
  border: 1px solid #666;
}
.config-table .table td:first-child {
  width: 20%;
}
.config-table .table td:nth-child(2) {
  width: 60%;
}
.config-table .table td:nth-child(3) {
  width: 20%;
}
